<h1>This is the profile for <%= render partial: 'user', locals: { user: @user } %></h1>

<h2>Upcoming user events</h2>


<% if current_user == @user %>
    <%= button_to "Create a new event", new_event_path, method: :get %>
<% end %>


<% if @user.events.empty? %>
    No upcoming events created by this user.
<% end %>

<% @user.events.order(:time).each do |event| %>
    <%= render partial: 'events/event', locals: { event: event }%>
    <%= link_to "Event page", event_path(event.id) %>
<% end %>