<h2>Upcoming events</h2>

<%= button_to "Create a new event", new_event_path, method: :get %>

<% if @events.in_future.empty? %>
    No upcoming events.
<% end %>

<%= render partial: @events.in_future.order(:time) %>

<h2>Past events</h2>

<% if @events.in_past.empty? %>
    No events in the past.
<% end %>

<%= render partial: @events.in_past.order(time: :desc) %>